* {
    font-family: 'Titillium Web', sans-serif;
    color: #E82127;
}
body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.white {
    color: white;
}
.red {
    color: #E82127;
}
.top {
    width: 100%;
    height: 100vh;
    /*background-color: #03495f;*/
    background-image: url(../imgs/mountain_range_bw.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: .3s;

}
.top h2 {
    margin: 0;
    width: 100%;
    font-size: 15rem;
    text-align: center;
    -webkit-text-stroke: 4px black;
}
.top-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.slide {
    background-color: black;
    opacity: 1;
    position: fixed;
    height: 33.33%;
    width: 100%;
    transition: .8s;
    z-index: 100;
}
.slide2 {
    top: 33.33%;
}
.slide3 {
    top: 66.66%;
}
.top-container h3 {
    position: absolute;
    transform: translate(-50%, 80%);
    left: 50%;
    margin: 0;
    text-align: center;
    font-size: 9rem;
    opacity: 0;
    font-weight: 700;
    width: 100%;
    transition: .5s;
    transition-timing-function: cubic-bezier(.32,.94,.63,.93);
    -webkit-text-stroke: 4px black;
}
header {
    z-index: 100;
    position: fixed;
    left: 3%;
    top: 7%;
}
header img {
    border-style: none;
    width: 38px;
}
header img:hover {
    cursor: pointer;
}
h2.section-title {
    font-size: 60px;
    text-align: center;
    user-select: none;
    transition: 1s;
    margin: 0;
    padding: 80px;
}
.fade-up {
    transform: translateY(80px);
    transition: .5s !important;
    opacity: 0;
}
.d2-rotate {
    transform: rotateX(90deg) rotateY(90deg);
}
.opacity-in {
    opacity: 0;
    transition: .3s;
}
.about-me {
    min-height: 100vh;
}
.about-me h2 {
    opacity: 0;
}
.row {
    vertical-align: top;
    font-size: 0;
}
.container-left,
.container-right {
    font-size: initial;
    position: relative;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.row .container-left img {
    width: 100%;
    filter: grayscale(100%);
}
.transition-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: .75s;
    transition-timing-function: cubic-bezier(.32,.94,.63,.93);
    z-index: 5;
}
.about-me-copy p {
    font-size: 55px;
    margin-top: 0;
    text-align: justify;
    font-weight: 600;
}
.about-me-copy {
    padding: 0px 40px 40px 40px;
    box-sizing: border-box;
}
.projects {
    min-height: 100vh;
}
.project-container {
    /*background-image: url(../imgs/mountain_range_bw.jpg);*/
    background-blend-mode: saturation;LOK
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.project-container .row > img {
    filter: none;
}
/*.project-container img:hover {*/
/*    opacity: .8;*/
/*    transition: .3s;*/
/*}*/